In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"patient_heart_rate.csv")
df

       1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0    2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1    3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2    4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3    5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4    6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5    7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6    8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
10   9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
11  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87
12  11.0       Henry Nam   NaN       60kgs   78   75   72    -    -    -
13  12.0     Michel Long  34.0         NaN   65   67   55    -    -    -
14  13.0      Tana Ricky   NaN         NaN    -    -    -   68   72   70
15  14.0        UniLever   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  15.0             NaN  52.0      180lbs    -    -    -   68   75   72

In [4]:
df.head(5)

     1    Mickéy Mousé    56       70kgs  72  69  71   -  -.1 -.2
0  2.0     Donald Duck  34.0   154.89lbs   -   -   -  85   84  76
1  3.0      Mini Mouse  16.0         NaN   -   -   -  65   69  72
2  4.0  Scrooge McDuck   NaN       78kgs  78  79  72   -    -   -
3  5.0    Pink Panther  54.0  198.658lbs   -   -   -  69  NaN  75
4  6.0     Huey McDuck  52.0      189lbs   -   -   -  68   75  72

Vấn đề 1 Thêm header vào dataframe để diễn giải dữ liệu

In [5]:
#thêm header vào dataframe để diễn giải dữ liệu
column_names= ["Id", "Name", "Age", "Weight", 'm0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218']

In [6]:
#Đọc file dữ liệu
df = pd.read_csv("patient_heart_rate.csv",names=column_names)

In [7]:
#Hiển thị một vài dòng dữ liệu đầu tiên in ra màn hinh
print(df.head())

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

Vấn đề 2 Tách tên và họ, và bỏ cột Name

In [8]:
df[["Firstname","Lastname"]]=df["Name"].str.split(expand=True)
df=df.drop("Name",axis=1)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
11   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
12  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
13  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
14  12.0  34.0         NaN    65    67    55     -     -     -    Michel
15  13.0   NaN         NaN     -     -     -    68    72    70      Tana
16  14.0   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever
17  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10      NaN
11   McDuck
12   McDuck
13      Nam
14     Long
15    Ricky
16     None
17      NaN

Vấn đề 3 Chuyển đổi đơn vị đo lường của cột Weight từ lbs sang kgs

In [9]:
#get the Weight column
weight=df["Weight"]
for i in range (0,len(weight)):
    x=str(weight[i])
    #Incase lbs is part of observation remove it
    if "lbs"in x[-3:]:
        #remove the lbs from the value
        x=x[:-3:]
        #covert string to float
        float_x=float(x)
        #covert to kgs and store as int
        y=int(float_x/2.2)
        #covert back to string
        y=str(y)+"kgs"
        weight[i]=y
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

C:\Users\AD\AppData\Local\Temp\ipykernel_13812\296099799.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]=y
C:\Users\AD\AppData\Local\Temp\ipykernel_13812\296099799.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]=y
C:\Users\AD\AppData\Local\Temp\ipykernel_13812\296099799.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]=y
C:\Users\AD\AppData\Local\Temp\ipykernel_13812\296099799.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]=y
C:\Users\AD\AppData\Local\Temp\ipykernel_13812\296099799.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]=y

Vấn đề 4 Xóa các hàng chứa toàn bộ giá trị bị thiếu

In [10]:
# Drop rows where all values are NaN
df.dropna(how="all",inplace=True)
# Display the updated dataframe
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 5 Xóa các hàng bị trùng lặp dựa trên các cột Firstname, Lastname, Age, và Weight

In [11]:
# Drop duplicate rows based on specific columns
df=df.drop_duplicates(subset=["Firstname","Lastname","Age","Weight"])
# Display the updated dataframe
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

Vấn đề 6  Xóa các ký tự không phải ASCII trong cột Firstname và Lastname

In [12]:
# Remove non-ASCII characters from Firstname and Lastname columns
df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True) 
df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
print (df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

C:\Users\AD\AppData\Local\Temp\ipykernel_13812\2383492213.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\AD\AppData\Local\Temp\ipykernel_13812\2383492213.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

Vấn đề 7 Xử lý các giá trị thiếu trong cột Age và Weight

In [13]:
# Find the index of rows where both Age and Weight are NaN
index_ageweightnull=df[df["Age"].isna() & df["Weight"].isna()].index
index_ageweightnull

Index([15, 16], dtype='int64')

In [14]:
# Drop these rows
df.drop(index_ageweightnull,inplace=True)

In [14]:
# Fill missing values in Age column with the mean age
df["Age"].fillna(df["Age"].mean(),inplace=False)

0     56.0
1     34.0
2     16.0
3     36.1
4     54.0
5     52.0
6     19.0
7     32.0
12    12.0
13    36.1
14    34.0
17    52.0
Name: Age, dtype: float64

Vấn đề 8 Chuyển đổi dữ liệu từ dạng wide sang long

In [15]:
# Reshape the dataframe from wide to long format
df = pd.melt(df,id_vars=["Id","Age","Weight","Firstname","Lastname"],value_name="PulseRate",var_name="sex_and_time").sort_values(["Id","Age","Weight","Firstname","Lastname"])

In [16]:
len(df["PulseRate"])

72

In [17]:
df.head(10)

     Id   Age Weight Firstname Lastname sex_and_time PulseRate
0   1.0  56.0  70kgs     Micky     Mous        m0006        72
12  1.0  56.0  70kgs     Micky     Mous        m0612        69
24  1.0  56.0  70kgs     Micky     Mous        m1218        71
36  1.0  56.0  70kgs     Micky     Mous        f0006         -
48  1.0  56.0  70kgs     Micky     Mous        f0612         -
60  1.0  56.0  70kgs     Micky     Mous        f1218         -
1   2.0  34.0  70kgs    Donald     Duck        m0006         -
13  2.0  34.0  70kgs    Donald     Duck        m0612         -
25  2.0  34.0  70kgs    Donald     Duck        m1218         -
37  2.0  34.0  70kgs    Donald     Duck        f0006        85

In [18]:
# Extract Sex and Time information from sex_and_time column
tmp_df=df["sex_and_time"].str.extract("(\D)(\d+)(\d{2})",expand=True)

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\AD\AppData\Local\Temp\ipykernel_13812\1863045151.py:2: SyntaxWarning: invalid escape sequence '\D'
  tmp_df=df["sex_and_time"].str.extract("(\D)(\d+)(\d{2})",expand=True)

In [19]:
tmp_df.columns=["Sex","hours_lower","hours_upper"]

In [20]:
tmp_df["Time"]=tmp_df["hours_lower"]+ "-" +tmp_df["hours_upper"]

In [21]:
# Concatenate the extracted information back to the dataframe
df=pd.concat([df,tmp_df],axis=1)

In [22]:
# Drop unnecessary columns
df=df.drop(["Sex","hours_lower","hours_upper"],axis=1)
# Drop rows with any NaN values
df=df.dropna()
# Save the cleaned dataframe to a new CSV file
df.to_csv("outputcleanup.csv",index=False)
print(df)

      Id   Age Weight Firstname Lastname sex_and_time PulseRate   Time
0    1.0  56.0  70kgs     Micky     Mous        m0006        72  00-06
12   1.0  56.0  70kgs     Micky     Mous        m0612        69  06-12
24   1.0  56.0  70kgs     Micky     Mous        m1218        71  12-18
36   1.0  56.0  70kgs     Micky     Mous        f0006         -  00-06
48   1.0  56.0  70kgs     Micky     Mous        f0612         -  06-12
60   1.0  56.0  70kgs     Micky     Mous        f1218         -  12-18
1    2.0  34.0  70kgs    Donald     Duck        m0006         -  00-06
13   2.0  34.0  70kgs    Donald     Duck        m0612         -  06-12
25   2.0  34.0  70kgs    Donald     Duck        m1218         -  12-18
37   2.0  34.0  70kgs    Donald     Duck        f0006        85  00-06
49   2.0  34.0  70kgs    Donald     Duck        f0612        84  06-12
61   2.0  34.0  70kgs    Donald     Duck        f1218        76  12-18
4    5.0  54.0  90kgs      Pink  Panther        m0006         -  00-06
16   5.0  54.0  90kgs      Pink  Panther        m0612         -  06-12
28   5.0  54.0  90kgs      Pink  Panther        m1218         -  12-18
40   5.0  54.0  90kgs      Pink  Panther        f0006        69  00-06
64   5.0  54.0  90kgs      Pink  Panther        f1218        75  12-18
5    6.0  52.0  85kgs      Huey   McDuck        m0006         -  00-06
17   6.0  52.0  85kgs      Huey   McDuck        m0612         -  06-12
29   6.0  52.0  85kgs      Huey   McDuck        m1218         -  12-18
41   6.0  52.0  85kgs      Huey   McDuck        f0006        68  00-06
53   6.0  52.0  85kgs      Huey   McDuck        f0612        75  06-12
65   6.0  52.0  85kgs      Huey   McDuck        f1218        72  12-18
6    7.0  19.0  56kgs     Dewey   McDuck        m0006         -  00-06
18   7.0  19.0  56kgs     Dewey   McDuck        m0612         -  06-12
30   7.0  19.0  56kgs     Dewey   McDuck        m1218         -  12-18
42   7.0  19.0  56kgs     Dewey   McDuck        f0006        71  00-06
54   7.0  19.0  56kgs     Dewey   McDuck        f0612        78  06-12
66   7.0  19.0  56kgs     Dewey   McDuck        f1218        75  12-18
7    8.0  32.0  78kgs      Scpy      Doo        m0006        78  00-06
19   8.0  32.0  78kgs      Scpy      Doo        m0612        76  06-12
31   8.0  32.0  78kgs      Scpy      Doo        m1218        75  12-18
43   8.0  32.0  78kgs      Scpy      Doo        f0006         -  00-06
55   8.0  32.0  78kgs      Scpy      Doo        f0612         -  06-12
67   8.0  32.0  78kgs      Scpy      Doo        f1218         -  12-18
8   10.0  12.0  45kgs     Louie   McDuck        m0006         -  00-06
20  10.0  12.0  45kgs     Louie   McDuck        m0612         -  06-12
32  10.0  12.0  45kgs     Louie   McDuck        m1218         -  12-18
44  10.0  12.0  45kgs     Louie   McDuck        f0006        92  00-06
56  10.0  12.0  45kgs     Louie   McDuck        f0612        95  06-12
68  10.0  12.0  45kgs     Louie   McDuck        f1218        87  12-18

Bài 11

In [23]:
# Đọc dữ liệu từ file CSV đã xử lý
df = pd.read_csv("outputcleanup.csv")

# Khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp (PulseRate)
missing_pulse_rate = df["PulseRate"].isna().mean() * 100
print(f"Tỉ lệ dữ liệu thiếu trên biến PulseRate: {missing_pulse_rate:.2f}%")

Tỉ lệ dữ liệu thiếu trên biến PulseRate: 0.00%

In [24]:
def fill_missing_pulse_rate(group):
    # Lặp qua từng hàng của nhóm
    for i in range(len(group)):
        if pd.isna(group.iloc[i]["PulseRate"]):
            # 1) Thay thế bằng giá trị trung bình liền trước và liền sau
            if i > 0 and i < len(group) - 1 and not pd.isna(group.iloc[i - 1]["PulseRate"]) and not pd.isna(group.iloc[i + 1]["PulseRate"]):
                group.at[i, "PulseRate"] = (group.iloc[i - 1]["PulseRate"] + group.iloc[i + 1]["PulseRate"]) / 2
            # 2) Thay thế bằng giá trị trung bình 2 giá liền trước
            elif i > 1 and not pd.isna(group.iloc[i - 1]["PulseRate"]) and not pd.isna(group.iloc[i - 2]["PulseRate"]):
                group.at[i, "PulseRate"] = (group.iloc[i - 1]["PulseRate"] + group.iloc[i - 2]["PulseRate"]) / 2
            # 3) Thay thế bằng giá trị trung bình 2 giá liền sau
            elif i < len(group) - 2 and not pd.isna(group.iloc[i + 1]["PulseRate"]) and not pd.isna(group.iloc[i + 2]["PulseRate"]):
                group.at[i, "PulseRate"] = (group.iloc[i + 1]["PulseRate"] + group.iloc[i + 2]["PulseRate"]) / 2
            # 4) Trung bình của các giá trị huyết áp của người đó
            elif group["PulseRate"].notna().sum() > 0:
                group.at[i, "PulseRate"] = group["PulseRate"].mean()
            # 5) Trung bình của các giá trị huyết áp của nhóm giới tính
            elif df[df["Sex"] == group.iloc[i]["Sex"]]["PulseRate"].notna().sum() > 0:
                group.at[i, "PulseRate"] = df[df["Sex"] == group.iloc[i]["Sex"]]["PulseRate"].mean()
            # 6) Trung bình của các giá trị dữ liệu
            elif df["PulseRate"].notna().sum() > 0:
                group.at[i, "PulseRate"] = df["PulseRate"].mean()
            # Thay bằng mức ổn định trong y học nếu tất cả các phương pháp trên không được
            else:
                group.at[i, "PulseRate"] = 70  # Giá trị huyết áp ổn định trung bình (ví dụ)
    return group

# Áp dụng hàm trên từng nhóm bệnh nhân
df = df.groupby("Id").apply(fill_missing_pulse_rate)
# Lưu lại file CSV sau khi xử lý
df.to_csv("outputcleanup_filled.csv", index=False)
# Hiển thị một vài dòng dữ liệu đầu tiên sau khi xử lý
print(df.head())

        Id   Age Weight Firstname Lastname sex_and_time PulseRate   Time
Id
1.0 0  1.0  56.0  70kgs     Micky     Mous        m0006        72  00-06
    1  1.0  56.0  70kgs     Micky     Mous        m0612        69  06-12
    2  1.0  56.0  70kgs     Micky     Mous        m1218        71  12-18
    3  1.0  56.0  70kgs     Micky     Mous        f0006         -  00-06
    4  1.0  56.0  70kgs     Micky     Mous        f0612         -  06-12

C:\Users\AD\AppData\Local\Temp\ipykernel_13812\622848648.py:29: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby("Id").apply(fill_missing_pulse_rate)

Bài 12

In [29]:
# Đọc dữ liệu từ file CSV đã xử lý
df = pd.read_csv("outputcleanup.csv")

# Tạo hàm để thay thế giá trị thiếu trên biến PulseRate
def fill_missing_pulse_rate(group):
    for i in range(len(group)):
        if pd.isna(group.iloc[i]["PulseRate"]):
            if i > 0 and i < len(group) - 1 and not pd.isna(group.iloc[i - 1]["PulseRate"]) and not pd.isna(group.iloc[i + 1]["PulseRate"]):
                group.at[i, "PulseRate"] = (group.iloc[i - 1]["PulseRate"] + group.iloc[i + 1]["PulseRate"]) / 2
            elif i > 1 and not pd.isna(group.iloc[i - 1]["PulseRate"]) and not pd.isna(group.iloc[i - 2]["PulseRate"]):
                group.at[i, "PulseRate"] = (group.iloc[i - 1]["PulseRate"] + group.iloc[i - 2]["PulseRate"]) / 2
            elif i < len(group) - 2 and not pd.isna(group.iloc[i + 1]["PulseRate"]) and not pd.isna(group.iloc[i + 2]["PulseRate"]):
                group.at[i, "PulseRate"] = (group.iloc[i + 1]["PulseRate"] + group.iloc[i + 2]["PulseRate"]) / 2
            elif group["PulseRate"].notna().sum() > 0:
                group.at[i, "PulseRate"] = group["PulseRate"].mean()
            elif df[df["Sex"] == group.iloc[i]["Sex"]]["PulseRate"].notna().sum() > 0:
                group.at[i, "PulseRate"] = df[df["Sex"] == group.iloc[i]["Sex"]]["PulseRate"].mean()
            elif df["PulseRate"].notna().sum() > 0:
                group.at[i, "PulseRate"] = df["PulseRate"].mean()
            else:
                group.at[i, "PulseRate"] = 70  # Giá trị huyết áp ổn định trung bình (ví dụ)
    return group

# Áp dụng hàm trên từng nhóm bệnh nhân
df = df.groupby("Id").apply(fill_missing_pulse_rate)

# Rút gọn dữ liệu: loại bỏ các cột không cần thiết (nếu có)
# Ví dụ: giả sử chúng ta muốn giữ lại các cột 'Id', 'Age', 'Weight', 'Firstname', 'Lastname', 'PulseRate', 'Time'
columns_to_keep = ["Id", "Age", "Weight", "Firstname", "Lastname", "PulseRate", "Time"]
df = df[columns_to_keep]

# Reindex lại dữ liệu
df.reset_index(drop=True, inplace=True)

# Lưu trữ dữ liệu đã xử lý thành file mới
df.to_csv("patient_heart_rate_clean.csv", index=False)

# Hiển thị một vài dòng dữ liệu đầu tiên sau khi xử lý
print(df.head())

    Id   Age Weight Firstname Lastname PulseRate   Time
0  1.0  56.0  70kgs     Micky     Mous        72  00-06
1  1.0  56.0  70kgs     Micky     Mous        69  06-12
2  1.0  56.0  70kgs     Micky     Mous        71  12-18
3  1.0  56.0  70kgs     Micky     Mous         -  00-06
4  1.0  56.0  70kgs     Micky     Mous         -  06-12

C:\Users\AD\AppData\Local\Temp\ipykernel_5836\3468725866.py:25: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby("Id").apply(fill_missing_pulse_rate)